---
layout: default
---
{% for post in site.posts limit:20 %}
<div class="post">
    <header class="post-header">
{% if post.link %}
		<h1><a class="post-link" href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | prepend: site.baseurl }}">&#x260D;</a></h1>
{% else %}
		<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
{% endif %}
        <p class="meta">{{ post.date | date: "%-d %B %Y" }}</p>
    </header>
	<article class="post-content">
{{ post.content}}
	</article>
</div>
{% endfor %}
