---
layout: default
---
<div class="home">
    {% for post in site.posts limit:1 %}
	<div>
		<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
		<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		<p>{{ post.content}}
	</div>
	{% endfor %}
	<h1>Older posts</h1>
	<ul>
    {% for post in site.posts limit:10 offset:1 %}
		<li>
			<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
		        {{ post.content | strip_html | truncatewords:75}}<br>
			<a href="{{ post.url }}">Read more...</a>
		</li>
	{% endfor %}
	</ul>
	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
